

// Default global colors
$bgLight: #FFFFFF;
$bgDark: #4D4D4D;
$bghover: #2aacc8;
$textDark:  #4D4D4D;
$textLight:  #FFFFFF;



// Widths
$minWidth: 320px;
$maxWidth: 1040px;

// Breakpoints

$tablet: 950;
$mobile: 640;

// Fonts

$family: 'Avenir',Arial, Helvetica, sans-serif;
$familyBold: 'Avenir Bold',Arial, Helvetica, sans-serif;
$familyLight: 'Avenir Light',Arial, Helvetica, sans-serif;
$familyDemi: 'Avenir Demi',Arial, Helvetica, sans-serif;
$_16px: 0.875em;

//Images
$fonturl : '/dependencies/fonts';
$imgurl : '/dependencies/images';