

// Default global colors
$bgGrey: #e8ebf1;
$bgBody: #fff;
$bghover: #2aacc8;
$colortext: #363636;



// Widths
$minWidth: 320px;
$maxWidth: 1040px;

// Breakpoints

$tablet: 950;
$mobile: 640;

// Fonts
$family: Arial, Helvetica, sans-serif;
$_16px: 0.875em;

//Images
$fonturl : '/dependencies/fonts';
$imgurl : '/dependencies/images';